body {margin: 20px}
td {color: #00000}
	font-size: 12px;}
a {color: #FF6600;
font-weight: bold;}
a:hover {color: #3366CC}
<head>
<link rel="stylesheet" type="text/css" href="/css/estilos.css">
</head>

